<select type="select" class="nav-small">
  {{#foreach navigation}}
    <option value="{{url}}"{{#if current}}selected="selected"{{/if}}>{{label}}</option>
  {{/foreach}}
</select>
<ul class="nav-big">
    {{#foreach navigation}}
    {{#if current}}
    <li class="nav-{{slug}} nav-current" role="presentation">{{label}}</li>
    {{else}}
    <li class="nav-{{slug}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/if}}
    {{/foreach}}
</ul>
