{{!< default}}
<div class="container">
  <div class="navigation box">
    <h1 class="site-name"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
  </div>
  <div class="content box" role="main">
    <h2>{{code}}: {{message}}</h2>
    <h3><a href="{{@blog.url}}">< Take me back to the home page</a></h3>
  </div>
</div>
